.wrapper
  .chat-side
  -# = render 'messages/side_bar'
  = render 'devise/shared/side_bar'
  -# .chat-main
  -#   .main-header
  -#     .current-group
  -#       %h2.current_group_name group-name
  -#       %ul.member_list member :
  -#     %a{href: "edit"}
  -#       .main-header__edit-btn Edit
  -#   .messages
  -#     .message
  -#       .upper-info
  -#         %p.upper-info__user user-name
  -#         %p.upper-info__date 2019/04/11(thu)
  -#       %p.message__text 投稿文です。
  -#     .message
  -#       .upper-info
  -#         %p.upper-info__user user-name
  -#         %p.upper-info__date 2019/04/12(wed)
  -#       %p.message__text 投稿文です。
  -#     .message
  -#       .upper-info
  -#         %p.upper-info__user user-name
  -#         %p.upper-info__date 2019/04/12(wed)
  -#       %p.message__text 投稿文です。
  -#     .message
  -#       .upper-info
  -#         %p.upper-info__user user-name
  -#         %p.upper-info__date 2019/04/12(wed)
  -#       %p.message__text 投稿文です。
  -#     .message
  -#       .upper-info
  -#         %p.upper-info__user user-name
  -#         %p.upper-info__date 2019/04/12(wed)
  -#       %p.message__text 投稿文です。
  -#     .message
  -#       .upper-info
  -#         %p.upper-info__user user-name
  -#         %p.upper-info__date 2019/04/12(wed)
  -#       %p.message__text 投稿文です。
  -#     .message
  -#       .upper-info
  -#         %p.upper-info__user user-name
  -#         %p.upper-info__date 2019/04/12(wed)
  -#       %p.message__text 投稿文です。
  -#     .message
  -#       .upper-info
  -#         %p.upper-info__user user-name
  -#         %p.upper-info__date 2019/04/12(wed)
  -#       %p.message__text 投稿文です。
  -#   .form
  -#     .input-box
  -#       .input-class_text
  -#     .new-message__submit-btn
